- if user_signed_in?
  = link_to "New Update", new_update_path
- @updates.each do |update|
  %h2= update.title
  %p.date= "#{time_ago_in_words(update.created_at)} ago"
  %p!= update.content
  %p= link_to "permalink", update_path(update)
  - if user_signed_in?
    %p= link_to "(Edit)", edit_update_path(update)
= paginate @updates