!!! 5
%html{:lang => "en"}
  %head
    %title Theft
    = stylesheet_link_tag 'style'
    - if Rails.env == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4379290-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    #wrap
      - if request.path != root_path
        #header
          %h1= link_to "theft", root_path
      #nav
        %ul
          %li= link_to_unless_current "home", root_path
          %li= link_to_unless_current "shows", shows_path
          %li= link_to_unless_current "updates", updates_path
          %li= link_to_unless_current "videos", videos_path
          %li= link_to_unless_current "listen", listen_path
          %li= link_to_unless_current "supported", supported_path
          %li= link_to "facebook", "http://facebook.com/theftspace"
          %li= link_to "twitter", "http://twitter.com/theft"
      #main= yield
      #footer
        %p!= "&copy; #{Time.now.year} theft"
