!!! 5
%html{:lang => "en"}
  %head
    %title Theft
    = stylesheet_link_tag 'style'
  %body
    #wrap
      #header
        %h1= link_to "theft", root_path
      #main= yield
      #footer
        %ul
          %li= link_to_unless_current "home", root_path
          %li= link_to_unless_current "shows", shows_path
          %li= link_to_unless_current "updates", updates_path
          %li= link_to_unless_current "videos", videos_path
          %li= link_to_unless_current "listen", listen_path
          %li= link_to_unless_current "supported", supported_path
          %li= link_to "facebook", "http://facebook.com/theftspace"
          %li= link_to "twitter", "http://twitter.com/theft"